<div id="modal" class="modale" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <span class="column"></span>
      <h2 id="video-title">Video Guide</h2>
    </div>
    <div class="modal-body">
      <iframe id="video-player" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="modal-footer">
        <a href="#" class="button closemodale">Go Back</a>
      </div>
  </div>
</div>

<script type="text/javascript">
var modal = document.getElementById('modal');
var videoTitle = document.getElementById('video-title');
var player = document.getElementById('video-player');

$('.openmodale').click(function (e) {
  e.preventDefault();
  var source = 'https://www.youtube-nocookie.com/embed/' + this.getAttribute('data-video-id');
  var title = this.getAttribute('data-video-title');
  openModal(source, title);
});

$('.closemodale').click(function (e) {
  e.preventDefault();
  $('.modale').removeClass('opened');
});

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    $('.modale').removeClass('opened');
  }
}

function openModal(source, title) {
  videoTitle.innerText = title;
  player.src = source;
  modal.style.display = "block";
  $('.modale').addClass('opened');
}
</script>
