<% meta title: "Coming Soon", description: "A 90 day experiment to get in shape, written by a hacker, for hackers." %>

<section class="container hero">
  <h1 class="title">Hackers Don't Have to be Fat</h1>
  <p class="description">Get in shape in 90 Days. For Free.</p>

  <form action="/subscribe" method="post">
    <fieldset>
      <div class="container">
        <div class="row">
          <div class="column"></div>
          <div class="column column-50">
            <input type="email" name="subscriber[email]" placeholder="jimmy.neutron@gmail.com" required>
          </div>
          <div class="column column-25">
            <button class="button" type="submit" title="Request Fitness for Hackers Book">Get the Book</a>
          </div>
          <div class="column"></div>
        </div>
    </fieldset>
  </form>
</section>
