<% meta title: "Get the Book", description: "A 90 day experiment to get in shape, written by a hacker, for hackers." %>

<section class="container hero">
  <h1 class="title">Hackers Don't Have to be Fat</h1>
  <p class="description">A simple guide to help you get in shape in 90 days. Written by a hacker.</p>
  <a class="button" href="https://www.amazon.com/Fitness-Hackers-Code-Lift-Repeat-ebook/dp/B084SVT7QP/" title="Buy Fitness for Hackers Book">Get the Book</a>
</section>
