<% meta title: "Coming Soon", description: "A 90 day experiment to get in shape, written by a hacker, for hackers." %>

<section class="container hero">
  <h1 class="title">Hackers Don't Have to be Fat</h1>
  <p class="description">A new book to help you get in shape in 90 days. Written by a hacker.</p>

  <form action="/subscribe" method="post">
    <fieldset>
      <div class="container">
        <div class="row">
          <div class="column hide-mobile"></div>
          <div class="column column-50 wide-mobile">
            <input type="email" name="subscriber[email]" placeholder="jimmy.dev@gmail.com" required>
          </div>
          <div class="column column-25 wide-mobile">
            <button class="button" type="submit" title="Request Fitness for Hackers Book">Join the Waitlist</a>
          </div>
          <div class="column hide-mobile"></div>
        </div>
    </fieldset>
  </form>
</section>
